* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}
.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 30vmin;
  width: 30vmin;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vmin;
  margin-top: 10vh;
}
.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}
.scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  margin-top: 3vmin;
  gap: 15vmin;
}
#userScore,
#computerScore {
  font-size: 4rem;
}
.msgContainer {
  margin-top: 5rem;
}
#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 3vmin;
  display: inline;
  padding: 5vmin;
  border-radius: 5vmin;
}
.reset1 {
  margin-top: 3rem;
  background-color: #081b31;
  color: #fff;
  font-size: 2vmin;
  display: inline;
  padding: 5vmin;
  border-radius: 5vmin;
  margin-top: 10vmin;
  cursor: pointer;
}
